- defaults:
    width: 20
    height: 20
    update-interval: 1.4
    type: Lamp
- sensor: Status
  program: ["is-second"]
  name: First name
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
- sensor: Status
  program: ["is-second"]
  shape: square
  name: Square lamp
- sensor: Fraction
  on-color: red
  off-color: '#00ff00'
  program: ["print-minute-fill.py"]
  name: Seconds
- sensor: Fraction
  type: Meter
  thickness: 0.75
  program: ["print-minute-fill.py"]
- defaults:
    width: 40
    height: 40
    type: Meter
- sensor: Fraction
  program: ["print-minute-fill.py"]
- sensor: Fraction
  program: ["print-minute-fill.py"]
- sensor: Fraction
  program: ["print-minute-fill.py"]
  thickness: 1.0
- sensor: Fraction
  program: ["print-minute-fill.py"]
- sensor: Fraction
  program: ["print-minute-fill.py"]
- sensor: Fraction
  program: ["print-minute-fill.py"]
  thickness: 1.0
- sensor: Fraction
  program: ["print-minute-fill.py"]
  name: Last indicator
