- defaults:
    update-interval: 1.4
    type: Lamp
- sensor: Status
  program: ["is-second"]
- defaults:
    on-color: blue
    off-color: magenta
- sensor: Status
  program: ["is-second"]
  shape: square
- sensor: Fraction
  on-color: red
  off-color: '#00ff00'
  program: ["print-minute-fill.py"]
- sensor: Fraction
  type: Meter
  thickness: 0.75
  program: ["print-minute-fill.py"]
