- defaults:
    type: Lamp
    on-color: green
    off-color: red
    state-colors:
        stopped: purple
        running: blue
        zombie: gangreen
    min-color: '#000000'
    max-color: '#ffffff'
- sensor: Status
  program: ['test', '-e', '/']
- sensor: State
  program: ['echo', 'stopped']
- sensor: State
  program: ['echo', 'running']
- sensor: Fraction
  program: ['echo', '0.01']
- sensor: Fraction
  program: ['echo', '0.5']
- sensor: Fraction
  program: ['echo', '0.85']
