- defaults:
    type: Lamp
    sensor: State
    width: 20
    height: 20
    program: ['echo', 'ok']
    state-colors:
        ok: green
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- defaults:
- type: Meter
  sensor: Fraction
  program: ['echo', '0.0']
  width: 20
  height: 20
- defaults:
    type: Meter
    sensor: Fraction
    width: 40
    height: 40
    program: ['echo', '0.75']
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- defaults:
- defaults:
    type: Lamp
    sensor: State
    width: 20
    height: 20
    program: ['echo', 'ok']
    state-colors:
        ok: green
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- defaults:
- defaults:
    type: Meter
    sensor: Fraction
    program: ['echo', '0.0']
    width: 20
    height: 20
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- defaults:
- defaults:
    type: Meter
    sensor: Fraction
    width: 40
    height: 40
    program: ['echo', '0.75']
- on-color: #ffffff
- on-color: #ffffff
- on-color: #ffffff
- defaults:
- type: Meter
  sensor: Fraction
  program: ['echo', '0.0']
  width: 40
  height: 40

