- defaults:
    sensor: Status
    program: ['test', '-e', '/']
    shape: square
    width: 20
    height: 20
- type: Lamp
- type: Lamp
- type: Lamp
- space: "0x24"
- type: Lamp
- type: Lamp
- type: Lamp
- space: "0x28"
- type: Lamp
- type: Lamp
- type: Lamp
- space: "0x36"
- type: Lamp
- type: Lamp
- type: Lamp
- space: "0x36"
- type: Lamp
- type: Lamp
- type: Lamp
- space: "0x28"
- type: Lamp
- type: Lamp
- type: Lamp
- space: "0x24"
- type: Lamp
- type: Lamp
- type: Lamp
