- defaults:
    width: 20
    height: 20
    update-interval: 1.4
    type: Lamp
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- sensor: Status
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
  shape: square
- sensor: Fraction
  on-color: red
  off-color: '#00ff00'
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- sensor: Fraction
  type: Meter
  thickness: 0.75
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- defaults:
    width: 40
    height: 40
    type: Meter
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
  thickness: 1.0
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
  thickness: 1.0
- sensor: Fraction
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
