- defaults:
    update-interval: 1.4
    type: Lamp
- sensor: StatusSensor
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
- defaults:
    on-color: blue
    off-color: magenta
- sensor: StatusSensor
  program: ["/mnt/Public_2/Projects/tiny-dash/is-second"]
  shape: square
- sensor: FractionSensor
  on-color: red
  off-color: '#00ff00'
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
- sensor: FractionSensor
  type: Meter
  thickness: 0.75
  program: ["/mnt/Public_2/Projects/tiny-dash/print-minute-fill.py"]
